<%- include('partials/header') -%> 

  <% posts.forEach(post => { %> 
    <h1><%= post.title %></h1> 
    <p><%= post.content.length > 100 
      ? post.content.slice(0, 100) + ' ...' 
      : post.content %>
       <a href="/posts/<%= post.title %>">➕</a>
    </p>
  <% }) %>

<%- include('partials/footer') -%> 
